<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Lecturer</title>
  <!-- Подключение Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Подключение FontAwesome для иконок -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <style>
    .btn-back {
      background-color: #6c757d;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }
    .btn-back:hover {
      background-color: #5a6268;
    }
  </style>
</head>
<body>
<div class="container mt-5">

  <div style="display: flex; gap:10px; align-items: center; margin-bottom: 20px">
    <a href="/admin/lecturers" class="btn-back">
      <i class="fas fa-arrow-left"></i>
    </a>

    <h1>Изменить данные о преподавателе</h1>
  </div>

  <form th:object="${lecturer}">

    <input type="hidden" id="lecturerId" th:value="${lecturer.id}">

    <!-- Основные поля -->
    <div class="mb-3">
      <label for="name" class="form-label">ФИО</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Текущее фото</label>
      <img th:if="${lecturer.photo}" th:src="'data:image/*;base64,' + ${lecturer.photo}" alt="Current Photo" class="img-thumbnail" style="max-width: 200px;">
      <p th:unless="${lecturer.photo}">No photo available.</p>
    </div>

    <div class="mb-3">
      <label for="photo" class="form-label">Фото</label>
      <input type="file" class="form-control" id="photo" accept="image/*" onchange="handlePhotoUpload(event)">
      <input type="hidden" id="photoBase64" name="photoBase64" th:value="${lecturer.photo}">
    </div>

    <div class="mb-3">
      <label for="scientificDegree" class="form-label">Научная степень</label>
      <input type="text" class="form-control" id="scientificDegree" th:field="*{scientificDegree}" required>
    </div>

    <div class="mb-3">
      <label for="academicTitle" class="form-label">Ученое звание</label>
      <input type="text" class="form-control" id="academicTitle" th:field="*{academicTitle}" required>
    </div>

    <div class="mb-3">
      <label for="experience" class="form-label">Опыт, лет</label>
      <input type="number" class="form-control" id="experience" th:field="*{experience}" required>
    </div>

    <div class="mb-3">
      <label for="specialtyExperience" class="form-label">Опыт по специальности, лет</label>
      <input type="number" class="form-control" id="specialtyExperience" th:field="*{specialtyExperience}" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" th:field="*{email}" required>
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Телефон</label>
      <input type="text" class="form-control" id="phone" th:field="*{phone}" required>
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Рабочий адрес</label>
      <input type="text" class="form-control" id="address" th:field="*{address}" required>
    </div>

    <!-- Динамические поля для списков -->
    <div class="mb-3">
      <label class="form-label">Высшее образовние</label>
      <div id="educationsContainer">
        <div th:each="education, iterStat : ${lecturer.educations}" class="education mb-2">
          <input type="text" class="form-control" name="educations" th:value="${education.getDescription()}">
          <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeField(this)">-</button>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-sm" onclick="addField('educationsContainer', 'educations')">+ Добавить</button>
    </div>


    <!-- jobTitles -->
    <div class="mb-3">
      <label class="form-label">Должности</label>
      <div id="jobTitlesContainer">
        <div th:each="jobTitle, iterStat : ${lecturer.jobTitles}" class="jobTitle mb-2">
          <input type="text" class="form-control" name="jobTitles" th:value="${jobTitle.getTitle()}">
          <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeField(this)">-</button>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-sm" onclick="addField('jobTitlesContainer', 'jobTitles')">+ Добавить</button>
    </div>

    <!-- jobsInUniversity -->
    <div class="mb-3">
      <label class="form-label">Работа в университете</label>
      <div id="jobsInUniversityContainer">
        <div th:each="jobInUniversity, iterStat : ${lecturer.jobsInUniversity}" class="jobInUniversity mb-2">
          <input type="text" class="form-control" name="jobsInUniversity" th:value="${jobInUniversity.getDescription()}">
          <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeField(this)">-</button>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-sm" onclick="addField('jobsInUniversityContainer', 'jobsInUniversity')">+ Добавить</button>
    </div>

    <!-- disciplines -->
    <div class="mb-3">
      <label class="form-label">Преподаваемые дисциплины</label>
      <div id="disciplinesContainer">
        <div th:each="discipline, iterStat : ${lecturer.disciplines}" class="discipline mb-2">
          <input type="text" class="form-control" name="disciplines" th:value="${discipline.getName()}">
          <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeField(this)">-</button>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-sm" onclick="addField('disciplinesContainer', 'disciplines')">+ Добавить</button>
    </div>

    <!-- profTrainings -->
    <div class="mb-3">
      <label class="form-label">Данные о повышении квалификации и (или) о профессиональной подготовке</label>
      <div id="profTrainingsContainer">
        <div th:each="profTraining, iterStat : ${lecturer.profTrainings}" class="profTraining mb-2">
          <input type="text" class="form-control" name="profTrainings" th:value="${profTraining.getDescription()}">
          <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeField(this)">-</button>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-sm" onclick="addField('profTrainingsContainer', 'profTrainings')">+ Добавить</button>
    </div>

    <!-- scienceInterests -->
    <div class="mb-3">
      <label class="form-label">Научные интересы</label>
      <div id="scienceInterestsContainer">
        <div th:each="scienceInterest, iterStat : ${lecturer.scienceInterests}" class="scienceInterest mb-2">
          <input type="text" class="form-control" name="scienceInterests" th:value="${scienceInterest.getName()}">
          <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeField(this)">-</button>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-sm" onclick="addField('scienceInterestsContainer', 'scienceInterests')">+ Добавить</button>
    </div>

    <!-- profExperience -->
    <div class="mb-3">
      <label class="form-label">Профессиональный опыт</label>
      <div id="profExperienceContainer">
        <div th:each="profExperience, iterStat : ${lecturer.profExperience}" class="profExperience mb-2">
          <input type="text" class="form-control" name="profExperience" th:value="${profExperience.getDescription()}">
          <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeField(this)">-</button>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-sm" onclick="addField('profExperienceContainer', 'profExperience')">+ Добавить</button>
    </div>

    <!-- scientificWorks -->
    <div class="mb-3">
      <label class="form-label">Научные работы и публикации</label>
      <div id="scientificWorksContainer">
        <div th:each="scientificWork, iterStat : ${lecturer.scientificWorks}" class="scientificWork mb-2">
          <input type="text" class="form-control" name="scientificWorks" th:value="${scientificWork.getDescription()}">
          <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeField(this)">-</button>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-sm" onclick="addField('scientificWorksContainer', 'scientificWorks')">+ Добавить</button>
    </div>

    <!-- Кнопка отправки формы -->
    <button style="margin: 20px 0" type="submit" class="btn btn-primary" onclick="submitForm(event)">Изменить данные</button>
  </form>
</div>

<!-- Подключение Bootstrap JS и Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
  // Функция для добавления нового поля
  function addField(containerId, fieldName) {
    const container = document.getElementById(containerId);
    const newField = document.createElement('div');
    newField.classList.add('mb-2');
    newField.innerHTML = `
                <input type="text" class="form-control" name="${fieldName}">
                <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeField(this)">-</button>
            `;
    container.appendChild(newField);
  }

  // Функция для удаления поля
  function removeField(button) {
    button.parentElement.remove();
  }

  function submitForm(event) {
    event.preventDefault();

    const lecturerId = document.getElementById('lecturerId').value;

    const formData = {
      name: document.getElementById('name').value,
      scientificDegree: document.getElementById('scientificDegree').value,
      academicTitle: document.getElementById('academicTitle').value,
      experience: parseInt(document.getElementById('experience').value),
      specialtyExperience: parseInt(document.getElementById('specialtyExperience').value),
      email: document.getElementById('email').value,
      phone: document.getElementById('phone').value,
      address: document.getElementById('address').value,
      educations: Array.from(document.querySelectorAll('input[name="educations"]')).map(input => input.value),
      jobTitles: Array.from(document.querySelectorAll('input[name="jobTitles"]')).map(input => input.value),
      jobsInUniversity: Array.from(document.querySelectorAll('input[name="jobsInUniversity"]')).map(input => input.value),
      disciplines: Array.from(document.querySelectorAll('input[name="disciplines"]')).map(input => input.value),
      profTrainings: Array.from(document.querySelectorAll('input[name="profTrainings"]')).map(input => input.value),
      scienceInterests: Array.from(document.querySelectorAll('input[name="scienceInterests"]')).map(input => input.value),
      profExperience: Array.from(document.querySelectorAll('input[name="profExperience"]')).map(input => input.value),
      scientificWorks: Array.from(document.querySelectorAll('input[name="scientificWorks"]')).map(input => input.value),
      photo: document.getElementById('photoBase64').value, // Фото в Base64
    };

    // Отправляем данные на сервер
    fetch(`/admin/lecturers/update/${lecturerId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(formData),
    })
            .then(response => {
              if (response.ok) {
                window.location.href = '/admin/lecturers';
              } else {
                throw new Error('Error updating lecturer');
              }
            })
            .catch(error => {
              console.error('Error:', error);
              alert(error.message);
            });
  }

  function handlePhotoUpload(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        const base64 = e.target.result.split(',')[1]; // Убираем префикс "data:image/*;base64,"
        document.getElementById('photoBase64').value = base64;
      };
      reader.readAsDataURL(file);
    }
  }


</script>
</body>
</html>